<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ url_for("static", filename="style.css") }}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<title>Main Menu</title>	
</head>

<body>
	<h1>Menu</h1>
	<div class="container">
		<div class="box">
			<span></span>
			<div class="content">
				<h2>Geolocalizacion</h2>
				<p>Nos permitira ver la ubicacion del lugar ya se dando la coordenada o del lugar</p>
				<br>
				<a href="/geo">Ir</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="box">
			<span></span>
			<div class="content">
				<h2>IP Location</h2>
				<p>Nos permitira obtener algunso datos generales mediante la ip</p>
				<br>
				<a href="/ip">Ir</a>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="box">
			<span></span>
			<div class="content">
				<h2>Llamada ID</h2>
				<p>Nos permitira mostrar datos generales del numero ya sea operador o si actualmente existe ingresando los</p>
				<br>
				<a href="/id">Ir</a>
			</div>
		</div>
	</div>





	

</body>
</html>